# Ignore virtual environment
.env

# Ignore credentials
credentials.json

venv

telegram_bot.pem

options_backtest.py

price_simulation.ipynb

TigerTradeAPI.ipynb

.ipynb_checkpoints

__pycache__/

instruction.txt